body{
    overflow: hidden;
}


img{
    width: 100%;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li, a {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}



.linhaDivisoraDoMenu {
    color: #F5A236;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: #9aba40;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  


.nav-item a{
    display: inline-block;
}


.fonteParaBotaoGaleria {
    font-size: 18px;
}


.fonteParaHs{
    font-family: "Comic Sans MS", cursive, sans-serif;
}


.cabecalho{
    position: sticky;
    box-shadow: 0 6px 2px -2px rgb(231, 231, 231);
    width: 100%;
    top: 0;
    z-index: 799;
}


.home {
    background-color: rgb(252, 252, 252);
}


.ajustandoEspacos {
    margin-top: 4%;
}


.centralizar {
    text-align: center;
}


.corDoCampoCinza {
    background-color: rgb(250, 250, 250);
}

.corDoCampoBranco {
    background-color:  rgb(255, 255, 255);
}


.molduraCor {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


.bordaDaMoldura {
    border: solid 1px rgb(231, 231, 231);
    box-shadow: -4px 4px 8px -4px rgb(213, 236, 223);
}


.quadradoQuemSomosNos {
    background: rgb(255, 255, 255);
    transform: translate3d(0px, -32.1px, 0px);
    padding: 40px;
}


.estruturaTexto {
    box-shadow: -9px 11px 12px -6px rgb(213, 236, 223);
    background-color: rgb(252, 252, 252);
    padding: 10%;
}

.estruturaTextoEfoto {
    width: 45%;
    padding: 10%;
}

.estruturasImagens {
    background-repeat: no-repeat;
    box-shadow: -9px 9px 12px -6px rgb(213, 236, 223);;
}


.carroselControleNext {
    right: 4%;
    top: 50%;
    bottom: 50%;
    width: 3%;
}


.carroselControlePrev {
    left: 4%;
    top: 50%;
    bottom: 50%;
    width: 3%;
}


.cabecalhoModal {
    background-color: rgb(252, 252, 252);
}

.rodapeModal {
    background-color: rgb(252, 252, 252);
}


.botaoModal {
    box-shadow: 0 0px 5px 0px rgb(175, 174, 174);
    background-color: #f1f1f1a1;
}


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(213, 236, 223, 0.5); /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}


#preloader .inner {
    overflow-x: hidden;
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}



.type-automatizador li {
    text-decoration: none;
    list-style: none;
  }
  
  .type-automatizador ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 30px 0;
    padding: 0;
  }
  
  .type-automatizador a:hover {
    text-decoration: none;
    color: #ff8f4e;
  }
  
  .type-automatizador a {
    font-size: 1.2rem;
    color: #555;
    font-weight: 600;
  }