body{
    overflow-x: none;
}


img{
    width: 100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    transition: 3ms;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

h3 {
margin-top: -12.5%;
}

.ajustandoEspacos {
    margin-top: 2%;
}

.corDoCampoCinza {
    background-color:  rgb(252, 252, 252);
}

.corDoCampoBranco {
    background-color:  rgb(255, 255, 255);
}

.cabecalho{
    position: sticky;
    box-shadow: 0 6px 2px -2px rgb(231, 231, 231);
    width: 100%;
    top: 0;
    z-index: 999;
}

.linhaDaMoldura {
    border: solid 1px rgb(231, 231, 231);
    box-shadow: -5px 6px 2px -2px rgb(231, 231, 231);
}


.molduraCor {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


.quadradoQuemSomosNos {
    background: rgb(255, 255, 255);
    transform: translate3d(0px, -32.1px, 0px);
    padding: 40px;
}


.centralizar {
    text-align: center;
}

.home {
    background-color: rgb(252, 252, 252);
}

.carroselControleNext {
    right: 4%;
    top: 50%;
    bottom: 50%;
    width: 3%;
}

.carroselControlePrev {
    left: 4%;
    top: 50%;
    bottom: 50%;
    width: 3%;
}







